@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-wrapper,
.demo-editor,
.rdw-editor-toolbar {
    position: relative !important;
    z-index: 0 !important;
}
.demo-editor {
    padding: 1rem;
    min-height: 200px;
}
.rdw-editor-toolbar {
    z-index: 1 !important;
    border-radius: 1rem !important;
    padding: 10px !important;
}
.DraftEditor-editorContainer {
    position: relative !important;
    z-index: 0 !important;
}
